img {
    height: 200px;
    width: 200px;
}
.products {
    height: 400px;
    width: 252px;
    border: 2px solid;
    padding: 27px;
   
    text-align: center;
    margin: 13px;
}
h2 {
    font-size: 18px;
}
.pro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn button {
    padding: 9px 20px 9px 20px;
    margin: 5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 15px;
}
