.edit {
    height: 405px;
    width: 300px;
    border: 2px solid;
    margin: auto;
    border-style: double;
    box-shadow: 4px 4px 4px 4px lightseagreen;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    margin-top: 40px;
}
.edit input{
    height: 30px;
    width: 245px;
    margin: 10px;
}